@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background: #CE915C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-top {
    height: 50vh;
    width: 100vw;
    background: #E5E5E5;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.message-alert {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 13.8px;
    color: #757575;
    text-align: center;
    margin: 20px;
}

.logo-agropago-welcome {
    width: 145px;
    height: 66px;
    margin-top: 40px;
}

.logo-agropago-change-password {
    width: 145px;
    height: 66px;
}

.container-bottom {
    height: 50vh;
    width: 100vw;
    background-color: #CE915C;
    position: relative;
}

.card {
    position: absolute;
    background: #FFFFFF;
    width: 560px;
    top: 180px;
    height: 680px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.svg-icon {
    width: 108px;
    height: 108px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 bold;
    font-size: 30px;
    color: #55835B;
    text-align: center;
    margin-top: 24px;
}

.subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 700 bold;
    font-size: 15px;
    color: #999999;
    text-align: center;
    margin-top: 48px;
}

.button-submit {
    width: 360px;
    height: 60px;
    border-radius: 30px;
    background-color: #55835B;
    border: none;
    cursor: pointer;
    margin-top: 20px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700 bold;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 22px;
    padding: 19px;
}

.paragraph1 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    line-height: 16.94px;
    text-align: center;
    margin-top: 40px;
}

.paragraph2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #757575;
    line-height: 14.52px;
    text-align: center;
    margin-top: 65px;
}

.paragraph3, .contact-link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #757575;
    line-height: 14.52px;
    text-align: center;
}

.contact-link {
    cursor: pointer;
}

.paragraph4 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #757575;
    line-height: 14.52px;
    text-align: center;
    margin-top: 16px;
}

/* width */
@media (max-width: 600px) {
    .card {
        width: calc(100% - 7%);
    }

    .button-submit {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .button-submit {
        width: 300px;
    }
}

@media (max-width: 330px) {
    .button-submit {
        width: 200px;
    }

    .svg-icon {
        width: 90px;
        height: 90px;
    }

    .title {
        font-size: 22px;
    }
}

/* heigth */
@media (max-height: 870px) {
    .card {
        height: 600px;
    }
}

@media (max-height: 800px) {
    .card {
        height: 520px;
    }

    .title {
        font-size: 28px;
    }
}

@media (max-height: 740px) {
    .card {
        height: 500px;
        top: 150px;
    }

    .svg-icon {
        width: 70px;
        height: 70px;
    }

    .title {
        font-size: 22px;
    }

    .subtitle, .paragraph2 {
        margin-top: 20px;
    }

    .button-submit {
        padding: 10px;
    }
}